body{
	font-family: Cambria,Georgia,Times,'Times New Roman',serif;
	background-color: #0d0d0d;
	margin: 10px;
}

.Navbar{
	margin-top: -8%; 
	float: right;
	padding-right: 5px;
}

.Navbar a.active{
	background: #00e6e6;
	box-shadow:  1px 1px 4px #00e6e6;
}

.Navbar a:hover{
	background: #ffff;
	color: #000000;
	box-shadow:  1px 1px 4px #ffff;
}

.Navbar a{
	padding: 4px;
	margin: 10px;
	font-size: 18px;
	text-decoration: solid;
	color: white;
	border-radius: 15px;
	text-shadow: 2px 2px 4px #0000;
	font-family:'Brush Script MT',cursive;
}

.contact{
	background-color: white;
	padding-right: 10%;
	padding-left: 20px;
	margin-left: 15%;
	margin-right: 20%;
	margin-top: 10%;
	padding-top: 5px;
	padding-bottom: 10px;

	width: 1000px;
  	height: 300px;
  	border: 10px solid #00e6e6;
  	box-sizing: border-box;
  	border-radius: 20px;
}

.contact h1{
	text-align: center;
	padding-left: 20%;
	font-size: 50px;
	font-weight: 900;
	font-family: Times New Roman;
}
.mb-3 label{
	font-weight: 700;
}