body{
	font-family: Cambria,Georgia,Times,'Times New Roman',serif;
	background-image: url("bg2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-color: black;
}

.Navbar{
	margin-top: 15px; 
	float: right;
	padding-right: 5px;
}

.Navbar a.active{
	background: #00e6e6;
	box-shadow:  1px 1px 4px #00e6e6;
}

.Navbar a:hover{
	background: #ffff;
	color: #000000;
	box-shadow:  1px 1px 4px #ffff;
}

.Navbar a{
	padding: 4px;
	margin: 10px;
	font-size: 18px;
	text-decoration: solid;
	color: white;
	/*background-color: #006666;*/
	border-radius: 15px;
	text-shadow: 2px 2px 4px #0000;
	/*box-shadow:  1px 1px 4px #ffff;*/
	font-family:'Brush Script MT',cursive;
}

header{
	font-size: 120px;
	text-decoration: solid;
	color: white;
	text-align: center;
	padding-top: 10%;
	text-decoration: solid;
	text-shadow: 2px 2px 4px #000000;
	font-family: 'Times New Roman';
}